div:hover {
    border: 5px solid black;
}

div:nth-of-type(1) {
    background-color: yellow;
}

div:nth-of-type(2) {
    background-color: purple;
}

div:nth-of-type(3) {
    background-color: pink;
}

div:nth-of-type(4) {
    background-color: darkred;
}

div:nth-of-type(5) {
    background-color: lightgreen;
}

div:nth-of-type(1) > h3 {
    color: purple;
    font-style: italic
}

div:nth-of-type(2) > h3 {
    color: yellow;
}

div:nth-of-type(3) > h3 {
    color: darkgreen;
    font-style: italic;
    font-size: 20px;
}

 {
    color: darkgreen;
    font-style: italic
    
    }

div:nth-of-type(4) > h3 {
    color: white;
}

div:nth-of-type(5) > h3 {
    color: darkblue;
    font-style: italic
}

h1 {
    color: rgb(99, 123, 230);
    font-family: 'monospace', sans-serif;
}

h2 {
    color: rgb(99, 123, 230);
    font-family: 'monospace', sans-serif;
}


